git+https://github.com/godatadriven/dbt-duckdb.git#egg=dbt-duckdb[unity] # For running dbt jobs
junity==0.1.1 # this is the unity catalog sidebar extension
dunky[delta]==0.1.5 # this is duckdb unity kernel