git+https://github.com/godatadriven/dbt-duckdb.git#egg=dbt-duckdb[unity] # For running dbt jobs
junity==0.7.8 # this is the unity catalog sidebar extension
dunky[delta]==0.2.0 # this is duckdb unity kernel
# datacontract-cli[all]
requests